.quienes{
    background-color: #004678;
    padding: 2.5rem 2.5rem 5rem;
    margin-top: 1.5rem;
    position: relative;
}

.quienes::before {   
    content: "";
    width: 100%;
    height: 170px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 94vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 127' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 21L33 18C82 12 133 14 200 28C267 42 333 63 400 67C467 70 533 56 600 38C667 21 733 0 800 0C867 0 933 21 1000 28C1067 35 1133 28 1167 24L1200 21V127H1167C1133 127 1067 127 1000 127C933 127 867 127 800 127C733 127 667 127 600 127C533 127 467 127 400 127C333 127 267 127 200 127C133 127 67 127 33 127H0V22.332Z' fill='%23ffffff'/></svg>")!important;  
}

.quienes .titulo{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.quienes .mark{
    background: #a032a0;
    color: #fff;
}

.quienes .card{
    margin-top: 2rem;
    border-radius: 45px;
}

.quienes .card .img{
    border-radius: 50%;
    object-fit: cover;
    width: 6rem;
    height: 6rem;
    display: block;
    margin: 1rem auto;
}

.quienes .card .nombre{
    text-align: center;
    background-color: #004678;
    color: #fff;
    padding: 5px 0;
    text-transform: uppercase;
    margin: 0 25% 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
}

.quienes .card .texto{
    text-align: center;
    font-style: italic;
    font-weight: 500;
    margin-top: 0.25rem;
}

@media (min-width: 768px){

    .quienes .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 4rem;
        margin-top: 1rem;
    }

    .quienes .titulo{
        font-size: 1.5rem;
    }

    .quienes .card{
        width: 34vw;
    }

}

@media (min-width: 1024px){
    
}