body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    --violet: #bd89da;
    --blue: #6a78c1;
  }

@font-face {
  font-family: 'made sans';
  src: url('../public/fonts/made.otf') format('truetype');
}


@font-face {
  font-family: 'made bold';
  src: url('../public/fonts/madeBold.otf') format('truetype');
}