.clientes{
    margin-top: 2rem;
    padding-bottom: 2.5rem;
}

.clientes .titulo{
    text-align: center;
}

.clientes .titulo .mark{
    background: #004678;
    color: #fff;
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    margin-left: 5px;
    padding: 0.1em 0.3em;
}

.clientes-container {
    width: 100%;
    margin: auto;   
  }
  
  .rounded-image {
    border-radius: 50%;
    width: 85%;
    height: auto;
    padding-top: 0rem;
    margin: 2rem auto 0.25rem;
  }