#clientes .clientesMobile{
    margin-top: 2rem;
    padding-bottom: 2.5rem;
}

#clientes .clientesDesktop{
  display: inline;
}

/* #clientes .clientesDesktop{
  display: none;
}
 */
#clientes .clientesMobile .titulo{
    text-align: center;
    font-weight: 600;
    color: var(--blue);
    margin-bottom: -1rem;
}

#clientes .clientesMobile .titulo .strong{
    color: var(--celest);
    display: inline-block;
    font-weight: 900;
    padding: 0em 0.3em;
}

#clientes .clientesDesktop .titulo{
  text-align: center;
  font-weight: 600;
  display: none;
 }

 #clientes .clientesDesktop .container{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
 }

 #clientes .clientesDesktop .container .imagenes{
  width: 42vw;
  margin: 0.85rem 0;
  padding: 0 1rem;
 }

 #clientes .carousel-container{
  display: none;
 }
 

/* #clientes .clientesMobilecontainer {
    width: 100%;
    margin: auto;   
  }
  
  .rounded-image {
    width: 85%;
    height: auto;
    padding-top: 0rem;
    margin: 2rem auto 0.25rem;
  }
 */


  @media (min-width: 768px){

    #clientes .clientesMobile .titulo{
      font-size: 1.6rem;
      margin-bottom: -1rem;
  }
  
/*  #clientes .clientesDesktop{
    display: inline;
 } */

 #clientes .clientesDesktop .titulo{
  text-align: center;
  font-weight: 600;
  display: none;
 }

 #clientes .clientesDesktop .titulo .strong{
  text-align: center;
  color: var(--blue);
  padding-left: 0.5rem;
  font-style: italic;
  display: flex;
  margin: auto;
 }

 #clientes .clientesDesktop .container{
  display: flex;
  margin: 1.5rem auto 0;
  justify-content: center;
 }


 #clientes .clientesDesktop .container .imagenes{
  width: 30vw;
  margin: 0.85rem 0;
  padding: 0 1rem;
 }
  }

  @media (min-width: 1024px){ 

    #clientes .clientesDesktop .titulo{
      font-size: 2.75rem;
      text-align: center;
      margin-left: 0;
      color: var(--blue);
    }    

    #clientes .clientesMobile .titulo{
      font-size: 2.75rem;
  }
  

    
#clientes .clientesDesktop .titulo .strong{
  color: var(--celest);
  font-style: normal;
}


#clientes .clientesDesktop .container{
  flex-wrap: wrap;
  margin: 1.5rem auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
 }

    #clientes .clientesDesktop .container .imagenes{
      width: 20vw;
      margin: 3rem 0rem;
     }
  }

  @media (min-width: 1440px){
    #clientes .clientesDesktop .container .imagenes{
      width: 17vw;
      margin: 3rem 0rem;
     }
  }
